.cricket-bg-container{
    display:flex;
    flex-direction: column;
    height: 100vh;
    background-color: aliceblue;
    justify-content: center;
}
.body-container{
    display: flex;
    flex-direction: row;
}
.score-container{
 background-color: aqua;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
.score-board-container{
    background-color: aqua;
}
.runs-conatiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.custom-button{
    background-color: rgb(100, 231, 133);
    color: black;
}